USE [master]
GO
/****** Object:  Database [SK]    Script Date: 06/Jun/21 2:25:16 PM ******/
CREATE DATABASE [SK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SK]
GO
/****** Object:  Table [dbo].[Info]    Script Date: 06/Jun/21 2:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[height] [smallmoney] NULL,
	[weigh] [smallmoney] NULL,
	[BMI] [smallmoney] NULL,
	[BMR] [smallmoney] NULL,
	[inputdate] [date] NULL,
	[username] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 06/Jun/21 2:25:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[username] [nchar](50) NOT NULL,
	[passwork] [char](50) NULL,
	[name] [nvarchar](255) NULL,
	[Sex] [nvarchar](10) NULL,
	[Birth] [date] NULL,
	[TimeUpdate] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [FK_Info_User] FOREIGN KEY([username])
REFERENCES [dbo].[Login] ([username])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [FK_Info_User]
GO
USE [master]
GO
